@import 'src/assets/variables';
@import 'src/assets/extend';

.customers-table {
  @extend %simple-block;

  display: grid;
  border: $border-style;
  overflow: auto;
  min-width: 500px;

  margin: 100px 50px;

  &__captions,
  &__row {
    display: grid;
    grid-template-columns: 10% 20% 20% 20% 15% 15%;
    align-items: center;
  }

  &__captions {
    border-bottom: $border-block-style;
    // background: $bg-caption;
    background: #2c4861;
    color: $color-white;
    box-shadow: $shadow-inset-light;

    &__label {
      position: relative;
      font-weight: bold;
      border-right: 1px solid $color-orange;
      border-left: 1px solid $color-orange;
      border-radius: 10px/100px;
      padding: 7px 15px 7px 10px;
      transition: box-shadow $transition-duration;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }

      &_sortable {
        cursor: pointer;

        &:hover {
          box-shadow: $shadow-inset-light;
        }
      }

      &_down::after,
      &_up::after {
        content: '';
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        background: url('../../../assets/img/arrow-down.svg') no-repeat center;
        background-size: cover;
        filter: invert(1);
        animation: show 1s;
        transition: transform $transition-duration;
      }

      &_up::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &__row {
    opacity: 0.9;
    transition: box-shadow $transition-duration, opacity $transition-duration;

    &__text {
      padding: 5px 0px 5px 10px;
      margin-right: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:nth-child(even) {
      background: $bg-table-second;
    }

    &:nth-child(odd) {
      background: $bg-table-first;
    }

    &:hover {
      opacity: 1;
      box-shadow: $shadow-inset-info;
    }
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
