@import 'src/assets/variables';
@import 'src/assets/keyframes';

.base-button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  color: $primary-color;
  background: $color-white;
  border: $border-style;
  border-radius: $border-radius;
  padding: 10px 20px;
  font-size: $fontSizeMedium;
  font-weight: normal;
  transition: all $transition-duration;

  &_small {
    padding: 10px;
    font-size: $fontSizeSmall;
  }


  &:hover:not(:disabled):not(#{&}_loading) {
    color: cyan;
    background: $primary-color;
  }

  &:disabled,
  &_loading {
    font-weight: normal;
    color: $secondary-color;
    background: whitesmoke;
    cursor: not-allowed;
  }

  &_loading,
  &_loading:disabled {
    animation : shimmer 2s infinite linear forwards;
    background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
    background-size: 25% 100%;
    cursor: progress;
  }
}
