@import 'src/assets/variables';

.confirm-modal {
  &__subtitle {
    font-size: $fontSizeExtraLarge;
    margin-bottom: 10px;
    text-align: center;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;

    > * {
      margin-left: 15px;
    }
  }
}
