@keyframes text-highlight-red {
  50% {
    color: $color-red;
  }
}

@keyframes row-highlight {
  50% {
    box-shadow: inset 0 0 15px $color-violet;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shimmer {
  0%{
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}
