$primary-color: rgb(17, 34, 62);
$secondary-color: rgba($primary-color, 0.5);

$secondary-color-hover: rgba($primary-color, 0.8);

$border-color: rgba($primary-color, 0.05);

$color-red: #d0021b;

$bg-caption: #3A80BA;
$bg-table-first: #FBFBFB;
$bg-table-second: #F1F1F1;

$color-blue: #006fee;
$color-green: #6eab27;
$color-orange: #f7924e;
$color-white: #fff;
$color-black: #1b1b1d;
$color-jaguar: #232327;
$color-violet: #8d30f9;

$goldenrod-color: #e5bf20;

// styles
$border-style: 1px solid $border-color;
$border-block-style: 1px solid rgba($primary-color, 0.07);
$block-shadow: 0 5px 20px 0 rgba($primary-color, 0.04);
$block-shadow-hover: 0 15px 30px 0 rgba($primary-color, 0.1);
$shadow-inset-light: inset 0 0 20px $color-white;
$shadow-inset-info: inset 0 0 5px $color-blue;

$max-content-width: 1236px;

// font sizes
$fontSizeExtraSmall: 12px;
$fontSizeSmall: 14px;
$fontSizeMedium: 16px;
$fontSizeLarge: 18px;
$fontSizeExtraLarge: 20px;
$fontSizeModalTitle: 24px;
$fontSizeGreat: 32px;
$fontSizeTitanic: 40px;

// screen breakpoints
$screenXXL: 2048px;
$screenXL: 1920px;
$screenL: 1280px;
$screenM: 991px;
$screenS: 767px;
$screenXS: 529px;
$screenXXS: 319px;

$border-radius: 5px;
$transition-duration: 0.4s;
