@import 'src/assets/variables';

.select-field {
  display: flex;
  flex-direction: column;
  $parent: &;

  &_error {
    #{$parent} {
      &__select,
      &__select:focus {
        border-color: $color-red;
      }

      &__label {
        animation: text-highlight-red 1.5s infinite;
      }
    }
  }

  &__label {
    font-size: $fontSizeLarge;
    color: $secondary-color;
    margin-bottom: 5px;
    width: fit-content;
  }

  &__select {
    padding: 10px 5px;
    font-size: $fontSizeSmall;
    color: $primary-color;
    border: $border-style;
    border-radius: $border-radius;


    &::placeholder {
      color: $secondary-color;
    }

    &:focus {
      border-color: $color-violet;
    }

    &__option {
      font-size: $fontSizeSmall;
      color: $primary-color;
    }
  }
}
